<!DOCTYPE html>
<!-- kate: space-indents on; tab-width 2; replace-tabs on; indent-width 2; //-->
<html>
<head>
<title>Login</title>
<link href="/css/teststyle.css" rel="stylesheet">
</head>
<body>
<h1>Login</h1>
<form id="login" action="/login" method="POST" accept-charset='UTF-8'>
    <input type='text' name='username' id='username' value='' maxlength="50" size="30" placeholder="Username"/><br/>
    <input type='password' name='password' id='password' maxlength="50" size="30" placeholder="Password" /><br/>
    <input type='submit' name='Submit' value='Login' />
</form>
</body>
</html>
